body {
  background-image: url('./img/snakeBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#gameBoard {
  border: 3px solid;
}

.custom-score {
  font-family: 'Honk-regular';
  font-size: 45px;
}

@font-face {
  font-family: 'Honk-Regular';
  src: url('./font/Honk-Regular.ttf');
}
